#bintraybintray-pcp-{{ pcp_repo_dir }} - packages by pcp from Bintray
[bintraybintray-pcp-{{ pcp_repo_dir }}]
name=bintray-pcp-{{ pcp_repo_dir }}
baseurl=https://dl.bintray.com/pcp/{{ pcp_repo_dir }}
gpgcheck=0
repo_gpgcheck=0
enabled=1

